/* Globales */
@font-face {
    font-family: "OpenSans";
    src: url(/fonts/OpenSans/OpenSans.ttf);
}
body {
    font-family: "OpenSans";
    margin: 0px;
    margin-top: 5px;
    background-color: #D4ECF5;
}

.header {
    max-height: 5rem;
    padding: 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.content {
    padding: 1rem;
    background-color: #ffffff;
}

/* Particulares */

#profile-img {
    max-width: 5rem;
    border-radius: 100%;
}

#img-container {
    display: flex;
    justify-content: center;
}

/* Responsive */
@media (max-width: 415px) {
    .header{
        display: flex;
        justify-content: center;
    }
    h1 { 
        margin: 0px;
        padding-top: 5px;
    }
}

@media (min-width: 749px) {
    .content {
        display: grid;
        grid-template-columns: repeat(4, 23.5%);
        grid-template-rows: repeat(2, 50%);
        gap: 1rem;
    }
    .resume {
        grid-column: 2 / 5;
        grid-row: 1 / 3;
    }
}